.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1800px;
    margin:0 auto;
    padding:20px ;
    color: rgba(249, 249, 249, 1)
}

.topo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.meio{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.Video{
    width:70%;
    height: auto;
}

.Sidebar{
    width: 30%;
    height: auto;
}